.setup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-container {
    display: flex;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    margin-bottom: 16px;
}