.setup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    margin-bottom: 16px;
}

.courts-btn-container {
    display: flex;
    justify-content: center;
    max-width: 250px;
    flex-wrap: wrap;
}

.courts-btn {
    min-width: 100px;
    margin-bottom: 8px;
}

.courts-btn:nth-child(odd) {
    margin-right: 8px;
}