.round-container {
    padding: 16px 16px;
    border-radius: 16px;
    border: 1px dashed white;
    margin-bottom: 16px;
    width: 90%;
    max-width: 800px;
    position: relative;
}

.generate-play-container {
    display: flex;
    margin-bottom: 8px;
}

.generate-round-button {
    margin-right: 8px;
}

.mode-button {
    margin-left: 8px;
}

.court-selection-container {
    position: absolute;
    right: 8px;
    top: 4px;
}

.table-box-container {
    display: flex;
    border-bottom: 1px solid white;
    text-align: left;
    justify-content: center;
}

.table-box-container--odd {
    background-color: #818589;
}

.table-box {
    flex: 0 0 0px;
    margin: 0 8px;
    white-space: nowrap;
}

.table-box--vs {
    color: red;
}

.table-box--center {
    text-align: center;
}

.edit-round-button {
    position: absolute;
    right: 16px;
}